{% extends 'base.html' %}
{% block title %} Monie Security{% endblock title %}
{% block content %}
<main>
    <div class="container col-8">


        <div class="row flex-grow-1 overflow-hidden pb-2 h-100">
            <div class="col h-100 d-flex" id="chatView">
                <div class="flex-column h-100 w-100 d-flex" id="chatMode">


                    <div class="card w-80">

                        <div class="modal-header mb-0">
                            <h5 class="modal-title">Banca . Advanced Pay</h5>
                            <img src="{{ url_for('static', filename='img/favicon/favicon.svg')}}"
                                                        class="card-img-top w-10" alt="Banca" />
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="card-body">

                            <section>

                                <div class="container">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-9 col-lg-7 col-xl-8">
                                         {#   {% include 'incs/alerts.html' %} #}
                                            
                                            <form class=" g-3" id="paymentF" action="{{url_for('pay.paycenta')}}" method="post" autocomplete>

                                                <div class="card">

                                                    <div class="card-body  mb-0">
                                                        <div class="card-title d-flex justify-content-between">
                                                            <p class="text-muted mb-0 h5 text-primary">Chris James</p>
                                                            <p class="mb-0 h5 text-primary">$760</p>
                                                        </div>
                                                    </div>
                                                    <div class="rounded-bottom">

                                                        <div class="card-body d-none!">

                                                            <div class="info _alert col-md-9 col-lg-7 col-xl-8"></div>

                                                            <div class="row mb-3">
                                                                <div class="form-check col">
                                                                    <input class="form-check-input" type="radio"
                                                                        aria-checked="true" name="method" id="card"
                                                                        checked />
                                                                    <label class="form-check-label" for="card">
                                                                        Card
                                                                    </label>
                                                                </div>

                                                                <div class="form-check col">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="method" id="wallet" />
                                                                    <label class="form-check-label" for="wallet">
                                                                        Wallet
                                                                    </label>
                                                                </div>

                                                                <div class="form-check col">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="method" id="transfer" />
                                                                    <label class="form-check-label" for="transfer">
                                                                        Transfer
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <div class="form-outline mb-3">
                                                                <input type="tel"  minlength="16" step="4" id="cc" name="cc"
                                                                    class="form-control filled"
                                                                    placeholder="1234 5678 1234 5678"  value="{{request.args.get('cc') or '' }}"/>
                                                                <label class="form-label" for="cc">Card Number</label>
                                                            </div>

                                                            <div class="row mb-3">
                                                                <div class="col-6">
                                                                    <div class="form-outline">
                                                                        <input type="month" id="exp" name="exp" pattern="00/00"
                                                                            class="form-control" placeholder="MM/YYYY"  value="{{request.args.get('exp') or '' }}"/>
                                                                        <label class="form-label"
                                                                            for="exp">Expire</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6 mb-3">
                                                                    <div class="form-outline">
                                                                        <input type="number"  pattern="[0-9]*" maxlength="3" id="cvv" name="cvv"
                                                                            class="form-control" placeholder="Cvv"  value="{{request.args.get('cvv') or '' }}" />
                                                                        <label class="form-label" for="cvv">Cvv</label>
                                                                    </div>
                                                                </div>

                                                                <div class="form-outline mb-2">
                                                                    <input type="email" value="{{request.args.get('email') or '' }}"
                                                                    placeholder="Email For Receipt Of Payments"
                                                                        id="email" name="email" class="form-control" />
                                                                    <label class="form-label" for="email">Email</label>
                                                                </div>
    
                                                            </div>
                                                            <input type="hidden" name="amt" value="740" />
                                                            <button type="submit" class="btn btn-primary btn-block">
                                                                Authorize Payment</button>

                                                        </div>

                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </section>
                            <!-- Credit card form -->

                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</main>

<script>

(() => {
    // Attach a submit handler to the form
    $( "form" ).on( "submit", function( e ) {
     
      e.preventDefault();
     
    //Get some values from elements on the page:
    var form = $(this),
    //term = form.find( "input[name='s']" ).val(),
    url = form.attr( "action" );
     
    // Send the data using post
    var posting = $.post( url, { payload: $( form ).serialize() } );
    
    //$(form).find('button').attr('disabled');
    $(form).find('button').attr("disabled", "disabled");

    // Put the results in a div
    posting.done( function( data ) {
    //var content = $( data ).find( "#content" );
    $(form).find('button').removeAttr('disabled');
    alert(data);
    console.log(data);
    $("._alert" ).empty().append( data );
      
    });

    } );

})(); 
</script>

<script>
/* 
(() => {
    'use strict';
    
    const form = document.querySelector('form');
    let cc = document.querySelector('input[name="cc"]').value;
    let cvv = document.querySelector('input[name="cvv"]').value;
    let exp = document.querySelector('input[name="exp"]').value;
    let email = document.querySelector('input[name="email"]').value;

    
    form.addEventListener('submit', (e) => {
    e.preventDefault();

    //console.log(cc, cvv, exp, email);
    $.post( "{{url_for('pay.paypoint')}}", { payload : $( form ).serialize()},  function( data ) {

    $( "._alert" ).html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> loading...');
    
    $( "._alert" ).html( data );
    
    });


    }, false);

    
    })();  */


/* var jqxhr = $.post( "example.php", function() {
  alert( "success" );
})
  .done(function() {
    alert( "second success" );
  })
  .fail(function() {
    alert( "error" );
  })
  .always(function() {
    alert( "finished" );
  }); */
</script>
{% endblock content %}