{% extends 'base.html' %}
{% block title %} Monie Security{% endblock title %}
{% block content %}
<main>
    <div class="container col-8">


        <div class="row flex-grow-1 overflow-hidden pb-2 h-100">
            <div class="col h-100 d-flex" id="chatView">
                <div class="flex-column h-100 w-100 d-flex" id="chatMode">


                    {% include 'incs/alerts.html' %}

                    <div class="card">

                        <div class="modal-header">
                            <h5 class="modal-title">Banca . Advanced Pay {{r}}</h5>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                <!-- <span aria-hidden="true" class="text-bold">×</span> -->
                            </button>
                        </div>

                        <div class="card-body">

                            <section>

                                <div class="container py-5">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-9 col-lg-7 col-xl-8">

                                            <form class="row g-3" id="paymentF" method="post">

                                                <div class="card">

                                                    <img src="{{ url_for('static', filename='img/favicon/favicon.svg')}}"
                                                        class="card-img-top w-20 h-16" alt="logo" />

                                                    <div class="card-body">
                                                        <div class="card-title d-flex justify-content-between mb-0">
                                                            <p class="text-muted mb-0">Chris James</p>
                                                            <p class="mb-0">$760</p>
                                                        </div>
                                                    </div>
                                                    <div class="rounded-bottom">

                                                        <div class="card-body __d-none__" id="address_card">
                                                            <div class="form-outline mb-2">
                                                                <input type="text" name="street"
                                                                    placeholder="201 Stacks Street" id="street"
                                                                    class="form-control" />
                                                                <label class="form-label" for="street">Street
                                                                    Address</label>
                                                            </div>
                                                            <div class="form-outline mb-2">
                                                                <input type="text" name="zipcode" id="zipcode"
                                                                    placeholder="12345" class="form-control" />
                                                                <label class="form-label" for="zipcode">Zip Code</label>
                                                            </div>
                                                            <div class="row mb-2">
                                                                <div class="col">
                                                                    <div class="form-outline">
                                                                        <input type="text" name="state" id="state"
                                                                            placeholder="State" class="form-control" />
                                                                        <label class="form-label"
                                                                            for="state">State</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="form-outline">
                                                                        <input type="text" name="city" id="city"
                                                                            placeholder="City" class="form-control" />
                                                                        <label class="form-label"
                                                                            for="city">City</label>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <hr class="my-4" />
                                                        </div>


                                                        <div class="card-body d-none1">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value=""
                                                                    id="checkoutForm1" />
                                                                <label class="form-check-label" for="checkoutForm1">
                                                                    Shipping address same as billing address
                                                                </label>
                                                            </div>

                                                            <div class="form-check mb-4">
                                                                <input class="form-check-input" type="checkbox" value=""
                                                                    id="checkoutForm2" checked />
                                                                <label class="form-check-label" for="checkoutForm2">
                                                                    Save this for next time
                                                                </label>
                                                            </div>

                                                            <hr class="my-4" />
                                                        </div>

                                                        <div class="card-body d-none!">
                                                            <h5 class="mb-4">Payment Method</h5>
                                                            <div class="row">
                                                                <div class="form-check col">
                                                                    <input class="form-check-input" type="radio"
                                                                        aria-checked="true" name="method" id="card"
                                                                        checked />
                                                                    <label class="form-check-label" for="card">
                                                                        Card
                                                                    </label>
                                                                </div>

                                                                <div class="form-check col">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="method" id="wallet" />
                                                                    <label class="form-check-label" for="wallet">
                                                                        Wallet
                                                                    </label>
                                                                </div>

                                                                <div class="form-check mb-4 col">
                                                                    <input class="form-check-input" type="radio"
                                                                        name="method" id="transfer" />
                                                                    <label class="form-check-label" for="transfer">
                                                                        Transfer
                                                                    </label>
                                                                </div>
                                                            </div>


                                                            <p class="mb-4">Your payment details</p>
                                                            <div class="form-outline mb-3">
                                                                <input type="tel" pattern="[0-9]*" maxlength="16" id="cc" name="cc"
                                                                    class="form-control filled"
                                                                    placeholder="1234 5678 1234 5678" />
                                                                <label class="form-label" for="cc">Card Number</label>
                                                            </div>

                                                            <div class="row mb-3">
                                                                <div class="col-6">
                                                                    <div class="form-outline">
                                                                        <input type="month" id="exp" name="exp" pattern="00/00"
                                                                            class="form-control" placeholder="MM/YYYY" />
                                                                        <label class="form-label"
                                                                            for="exp">Expire</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-6">
                                                                    <div class="form-outline">
                                                                        <input type="number" pattern="[0-9]*" maxlength="3" id="cvv" name="cvv"
                                                                            class="form-control" placeholder="Cvv" />
                                                                        <label class="form-label" for="cvv">Cvv</label>
                                                                    </div>
                                                                </div>
                                                            </div>
<script>
    var exp = document.querySelector('input[name]').value;
    alert(exp)
</script>
                                                            <div class="form-outline mb-4">
                                                                <input type="email" placeholder="Email For Receipt Of Payments"
                                                                    id="email" name="email" class="form-control" />
                                                                <label class="form-label" for="email">Email</label>
                                                            </div>

                                                        </div>

                                                        <button type="submit" class="btn btn-primary btn-block">
                                                            Authorize Payment</button>

                                                    </div>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </section>
                            <!-- Credit card form -->

                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</main>

{% endblock content %}