{% extends 'base.html' %}
{% block title %} Film supply {% endblock title %}
{% block page_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/page-misc.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/core.css')}}" />

{% endblock page_css %}

{% block content %}

<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <marquee width="100%" direction="left" height="20px; padding:10px">
        Welcome to join Film-supply, if you need more information, please contact online customer service, thank
        you!
    </marquee>
</div>

    <!--Under Maintenance -->
    <div class="container-xxl container-p-y">
        <div class="misc-wrapper">
            <h2 class="mb-2 mx-2">Under Maintenance!</h2>
            <p class="mb-4 mx-2">
                Sorry for the inconvenience but we're performing some maintenance at the moment
            </p>
            <a href="https://filmsupply.onrender.com" class="btn btn-primary text-warning">Stay tuned</a>
            <div class="mt-4">
                <img src="{{url_for('static', filename='img/illustrations/girl-doing-yoga-light.png')}}"  alt="girl-doing-yoga-light" width="500" class="img-fluid" data-app-dark-img="illustrations/girl-doing-yoga-dark.png" data-app-light-img="illustrations/girl-doing-yoga-light.png">
            </div>
        </div>
    </div>
    <!-- /Under Maintenance -->

{% endblock content %}

