<div class="modal fade" id="certifieModal" tabindex="-1" aria-hidden="true"
                            style="display: none;">
                            <div class="modal-dialog modal-dialog-centered modal-simple modal-add-new-cc">
                                <div class="modal-content p-3 p-md-5">
                                    <div class="modal-body">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                        <div class="text-center mb-4">
                                            <h3>Film supply is certified</h3>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="card bg-dark text-white text-center mb-3" style="width: 100%;">
                                                <img src="./static/img/cert/cert.jpg" style="width: 100%; height: auto;"
                                                    class="card-img-top" />
                                                <div class="card-img-overlay"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>