<div class="modal fade" id="membershipModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-simple modal-pricing">
        <div class="modal-content p-0 p-md-2 p-xl-5">
            <div class="modal-body px-2 px-md-4">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <!-- Pricing Plans -->
                <div class="rounded-top">
                    <h2 class="text-center mb-2 mt-0 mt-md-4 px-2">Find the right plan for
                        yourself</h2>
                    <p class="text-center pb-3 px-2">
                        Choose th right plan and keep making money </p>
                    <div class="row mx-0 gy-3">
                        <!-- Basic -->
                        <div class="col-lg mb-md-0 mb-4">
                            <div class="card border rounded shadow-none">
                                <div class="card-body position-relative">
                                    <div class="my-3 pt-2 text-center">
                                        <img src="./static/img/icons/normal.png" alt="Starter Image" height="80">
                                    </div>
                                    <h3 class="card-title text-center text-capitalize mb-1">
                                        Normal</h3>
                                    <ul class="list-group my-4 list-unstyled">
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Deposit
                                                in accordance with our renewal event</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Profit
                                                of 0.7% per order - 33 orders per set</span>
                                        </li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Better
                                                Profit and permission</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Profit
                                                of 7% for each Premium Tickets</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>No
                                                access to other stage</span></li>
                                    </ul>
                                    <button type="button" class="btn btn-label-primary d-grid w-100"
                                        data-bs-dismiss="modal">Upgrade</button>

                                </div>
                            </div>
                        </div>

                        <!-- Pro -->
                        <div class="col-lg mb-md-0 mb-4">
                            <div class="card border-primary border shadow-none">
                                <div class="card-body position-relative">
                                    <div class="position-absolute end-0 me-4 top-0 mt-4">
                                        <span class="badge bg-label-primary">current</span>
                                    </div>
                                    <div class="my-3 pt-2 text-center">
                                        <img src="./static/img/icons/vip.png" alt="Pro Image" height="80">
                                    </div>
                                    <h3 class="card-title text-center text-warning text-capitalize mb-1">
                                        VIP</h3>

                                    <ul class="list-group my-4 list-unstyled">
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Deposit
                                                in accordance with our renewal event</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Profit
                                                of 0.9% per order - 35 orders per set</span>
                                        </li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Better
                                                Profit and permission</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Profit
                                                of 7% for each Premium Tickets</span></li>
                                    </ul>
                                    <button type="button" class="btn btn-label-primary d-grid w-100"
                                        data-bs-dismiss="modal">Upgrade Higher</button>
                                </div>
                            </div>
                        </div>

                        <!-- vvip -->
                        <div class="col-lg">
                            <div class="card border rounded shadow-none">
                                <div class="card-body">

                                    <div class="my-3 pt-2 text-center">
                                        <img src="./static/img/icons/vvip.png" alt="Pro Image" height="80">
                                    </div>
                                    <h3 class="card-title text-center text-capitalize mb-1">VVIP
                                    </h3>

                                    <ul class="list-group my-4 list-unstyled">
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Deposit
                                                in accordance with our renewal event</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Profit
                                                of 1.5% per order - 38 orders per set</span>
                                        </li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Better
                                                Profit and permission</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Profit
                                                of 9% for each Premium Tickets</span></li>
                                    </ul>

                                    <button type="button" class="btn btn-label-primary d-grid w-100"
                                        data-bs-dismiss="modal">Upgrade</button>
                                </div>
                            </div>
                        </div>

                        <!-- vvvip -->
                        <div class="col-lg">
                            <div class="card border rounded shadow-none">
                                <div class="card-body">

                                    <div class="my-3 pt-2 text-center">
                                        <img src="./static/img/icons/vvvip.png" alt="Pro Image" height="80">
                                    </div>
                                    <h3 class="card-title text-center text-capitalize mb-1">
                                        V.V.V.I.P</h3>

                                    <ul class="list-group my-4 list-unstyled">
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Deposit
                                                in accordance with our renewal event</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Profit
                                                of 2% per order - 40 orders per set</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Better
                                                Profit and permission</span></li>
                                        <li class="mb-2 d-flex align-items-center"><span
                                                class="badge badge-center w-px-20 h-px-20 rounded-pill bg-label-primary me-2"><i
                                                    class="bx bx-check bx-xs"></i></span><span>Profit
                                                of 12% for each Premium Tickets</span></li>
                                    </ul>

                                    <button type="button" class="btn btn-label-primary d-grid w-100"
                                        data-bs-dismiss="modal">Upgrade</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Pricing Plans -->
        </div>
    </div>
</div>