<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row">

        <div class="col-md-6 col-lg-8 mb-4 mb-md-0">
            <div class="card">

                <div class="card-header d-flex justify-content-between align-items-center">
                    <small class="mb-0 text-warning">
                        Normal users earn only
                        <b class="badge bg-label-primary me-3" id="taskReward">0.7% on each completed tasks.</b>
                    </small>
                    <span>
                        <!-- Task <h4 class="badge bg-label-primary me-3" id="taskIndex">You're earning 0.7% on each completed tasks(Normal user)</h4> -->
                    </span>
                </div>

                <div class="table-responsive text-nowrap">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Product</th>
                                <th>Rating</th>
                                <th>Amount</th>
                                <th>Earnings</th>
                                <th>Status</th>
                                <th>Timestamp</th>
                            </tr>
                        </thead>
                        <tbody id="completed-tasks"  class="table-border-bottom-0">
                            <tr>
                                <td>1.0</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="./static/img/start/1.png" alt="Oneplus" height="32" width="32"
                                            class="me-2 rounded">
                                        <div class="d-flex flex-column">
                                            <span class="fw-medium lh-1">OnePlus
                                                7Pro, 2023 series.</span>
                                        </div>
                                    </div>
                                </td>
                                <td><small class="text-muted">3.0/5.0</small>
                                </td>
                                <td><small class="text-muted">90</small>
                                </td>
                                <td>0.9</td>
                                <td><span class="badge bg-label-primary">Completed</span>
                                </td>
                                <td>Thursday 2, 2002</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Total Balance -->
        <div class="col-md-6 col-lg-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">My Statistics</h5>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="totalBalance" data-bs-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="totalBalance">
                            <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                            <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-start">
                        <div class="d-flex pe-4">
                            <div class="me-3">
                                <span class="badge bg-label-warning p-2"><i
                                        class="bx bx-wallet text-warning"></i></span>
                            </div>
                            <div>
                                <h6 id="totalEarnings" class="mb-0">$0.0k</h6>
                                <small>Wallet(Avg Earnings)</small>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="me-3">
                                <span class="badge bg-label-secondary p-2"><i
                                        class="bx bx-dollar text-secondary"></i></span>
                            </div>
                            <div>
                                <h6 id="totalDeposits" class="mb-0 totalDeposits">$0.0k</h6>
                                <small>Avg Deposits</small>
                            </div>
                        </div>
                    </div>
                    <div id="totalBalanceChart" class="border-bottom mb-3 totalBalanceChart"></div>
                </div>
            </div>
        </div>
        <!--/ Total Balance -->

    </div>

</div>