<div class="modal fade" id="aboutModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalFullTitle">We're a Licensed Movie Production
                                            Company</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="col-md-12 col-lg-12">
                                            <div class="card bg-dark text-white text-center mb-3"
                                                style="height: 200px;">
                                                <video src="./static/videos/us.mp4" class="card-img-top" muted autoplay
                                                    loop style="object-fit: cover; height: 100%;"></video>
                                                <div class="card-img-overlay">
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <p>Our work also includes short film services, enhancements and hourly rates
                                                to help you minimise costs and improve performance.</p>
                                            <p>We can assist you with day-to-day tasks and offer you the flexibility to
                                                choose from a range of specialists.</p>
                                            <p>The moving picture is a tool of impossible power. Images become stories
                                                that speak to the very core of the human experience. In the hands of a
                                                passionate creative, these stories are an opportunity to entertain,
                                                educate, and inspire. To communicate, connect, and truly breakthrough.
                                                Filmsupply exists to empower these creatives.</p>
                                            <p>With decades of experience in the advertising, film, and production
                                                industries, Filmsupply's Licensing Specialists have a holistic
                                                comprehension of the licensing process. We're proud to provide our
                                                creative
                                                clients with a personalized, white-glove experience at every step of
                                                every project.</p>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">
                                            Back.
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>