{% extends 'base.html' %}
{% block title %} Film supply {% endblock title %}

{% block content %}

<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <marquee width="100%" direction="left" height="20px; padding:10px">
        Welcome to join Film-supply, if you need more information, please contact online customer service, thank
        you!
    </marquee>
</div>

<div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">

        {% include "incs/nav.html" %}

        <!-- Layout container -->
        <div class="layout-page">

            <!-- Content wrapper -->
            <div class="content-wrapper">

                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- <hr class="container-m-nx border-light mt-5" /> -->

                    <!-- Pills -->
                    <h5 class="py-3 my-4">Explore Options</h5>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="nav-align-top mb-4">
                                <ul class="nav nav-pills mb-3 d-flex justify-content-between" role="tablist">
                                    <li class="nav-item">
                                        <button type="button" class="nav-link active fw-medium " role="tab"
                                            data-bs-toggle="tab" data-bs-target="#navs-pills-top-home"
                                            aria-controls="navs-pills-top-home" aria-selected="true">
                                            Home
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="button" class="nav-link fw-medium " role="tab"
                                            data-bs-toggle="tab" data-bs-target="#navs-pills-top-start"
                                            aria-controls="navs-pills-top-start" aria-selected="false">
                                            Start Rating
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="button" class="nav-link fw-medium " role="tab"
                                            data-bs-toggle="tab" data-bs-target="#navs-pills-top-records"
                                            aria-controls="navs-pills-top-records" aria-selected="false">
                                            Records
                                        </button>
                                    </li>
                                    <li class="nav-item">
                                        <button type="button" class="nav-link fw-medium " role="tab"
                                            data-bs-toggle="tab" data-bs-target="#navs-pills-top-account"
                                            aria-controls="navs-pills-top-account" aria-selected="false">
                                            My Account
                                        </button>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="navs-pills-top-home" role="tabpanel">
                                        <!--  -->
                                        <div class="col-12 mb-4">
                                            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                                                <ol class="carousel-indicators">
                                                    <li data-bs-target="#carouselExample" data-bs-slide-to="0"
                                                        class="active"></li>
                                                    <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
                                                    <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
                                                </ol>
                                                <style>
                                                    .carousel-item video {
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: cover;
                                                    }

                                                    .carousel-inner-1 {
                                                        height: 400px;
                                                        /* Set the desired height for the carousel items */
                                                    }
                                                </style>
                                                <div class="carousel-inner carousel-inner-1 ">
                                                    <div class="carousel-item active">
                                                        <video class="d-block w-100 h-100" autoplay muted loop>
                                                            <source src="./static/videos/hero.mp4" type="video/mp4" />
                                                            Your browser does not support the video tag.
                                                        </video>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <video class="d-block w-100 h-100" autoplay muted loop>
                                                            <source src="./static/videos/hero_0.mp4" type="video/mp4" />
                                                            Your browser does not support the video tag.
                                                        </video>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <video class="d-block w-100 h-100" autoplay muted loop>
                                                            <source src="./static/videos/hero_1.mp4" type="video/mp4" />
                                                            Your browser does not support the video tag.
                                                        </video>
                                                    </div>
                                                </div>
                                                <!----
                                                        <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <video class="d-block w-100 h-px-200" controls>
                                                                <source src="./static/videos/hero.mp4" type="video/mp4" />
                                                                Your browser does not support the video tag.
                                                            </video>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <video class="d-block w-100 h-px-200" controls>
                                                                <source src="./static/videos/hero.mp4" type="video/mp4" />
                                                                Your browser does not support the video tag.
                                                            </video>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="./static/img/elements/18.jpg" alt="Third slide" />
                                                            <div class="carousel-caption d-none d-md-block">
                                                            <h3>Third slide</h3>
                                                            <p>Lorem ipsum dolor sit amet, virtute consequat ea qui, minim graeco mel no.</p>
                                                            </div>
                                                        </div>
                                                        </div> ---->

                                                <a class="carousel-control-prev" href="#carouselExample" role="button"
                                                    data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExample" role="button"
                                                    data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </a>
                                            </div>
                                        </div>
                                        <!--  -->
                                    </div>
                                    <div class="tab-pane fade" id="navs-pills-top-start" role="tabpanel">
                                        <!--  --->
                                        {% include "incs/start.html" %}

                                    </div>
                                    <div class="tab-pane fade" id="navs-pills-top-records" role="tabpanel">
                                        {% include "incs/records.html" %}

                                    </div>
                                    <div class="tab-pane fade" id="navs-pills-top-account" role="tabpanel">
                                        {% include "incs/account.html" %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pills -->
                </div>

                <div class="container-xxl flex-grow-1 container-p-y">

                    <h4 class="py-3 mb-4">Functions</h4>

                    <div class="row mb-4">
                        <!--  Pricing -->
                        <div class="col-12 col-sm-6 col-lg-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i class="mb-3 bx bx-md bx-bar-chart-alt-2"></i>
                                    <h5>Membership</h5>
                                    <p>Explore available plans</p>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#membershipModal">Let me see</button>
                                </div>
                            </div>
                        </div>
                        <!--/  Pricing -->

                        <!--  Add New Credit Card -->
                        <div class="col-12 col-sm-6 col-lg-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i class="mb-3 bx bx-md bx-credit-card"></i>
                                    <h5>Certificates</h5>
                                    <p>We're certified</p>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#certifieModal"> Show </button>
                                </div>
                            </div>
                        </div>
                        <!--/  Add New Credit Card -->

                        <!--  Add New Address -->
                        <div class="col-12 col-sm-6 col-lg-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i class="mb-3 bx bx-md bx-buildings"></i>
                                    <h5>Rules</h5>
                                    <p>Know the rules involved.</p>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#ourRules"> Show </button>
                                </div>
                            </div>
                        </div>
                        <!--/  Add New Address -->

                        <!--  Refer & Earn -->
                        <div class="col-12 col-sm-6 col-lg-3 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <i class="mb-3 bx bx-md bx-gift"></i>
                                    <h5>About Film-supply</h5>
                                    <p>Know us</p>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#aboutModal"> Show </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- All Modals -->
                    {% include "incs/membership.html" %}

                    <!-- Add cert Modal -->
                    {% include "incs/cert.html" %}

                    <!--/ Add  -->

                    {% include "incs/our_rules.html" %}
                    <!-- Modal -->
                    {% include "incs/us.html" %}
                    <!--  -->
                </div>


                {% include "incs/now_playing.html" %}

                <!-- Footer -->
                {% include 'incs/footer.html' %}


                <div class="content-backdrop fade"></div>
            </div>
            <!--/ Content wrapper -->
        </div>

        <!--/ Layout container -->
    </div>

</div>

{% endblock content %}

{% block page_js %}

<script>
    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                selectedImage.src = e.target.result;
                if ($(selectedImage).hasClass('d-none')) {
                    $(selectedImage).removeClass('d-none');
                }
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }
    /*
    // Serialize form data
    let formDataArray = $(this).serializeArray();
    let formData = {};
    */
    function updateUser() {
        // Extract form data (including file input)
        const formData = new FormData();
        const form = document.querySelector('#updateForm');
        // Iterate through all form elements
        for (const element of form.elements) {
            if (element.name && element.type !== 'file') {
                formData.append(element.name, element.value);
            } else if (element.type === 'file') {
                const fileInput = element;
                if (fileInput.files.length > 0) {
                    formData.append('image', fileInput.files[0]); // Append file to FormData
                    console.log(typeof element.name);
                }
            }
        }
    
        $.ajax({
            
            //url: form.action, // Use the form's action attribute as the URL
            type: 'PUT',
            data: formData,
            url :'./{{current_user.username}}/update_user',
            processData: false,
            contentType: false,
    
            success: function(data) {
                //console.error('data:', data);
                if (data.success) {
                    response_modal(data.message);
                } else {
                    response_modal(data.error);
                    console.error('Error updating user:', data.error);
                }
            },
            error: function(xhr, status, error) {
                response_modal(error);
                console.error('Error:', error);
            }
        });
    }
    
    // Ensure the delete button in each row has a class 'delete-attendance'
    $(document).on('submit', 'form', function(e) {
        e.preventDefault(); updateUser();
    });
</script>

<style>
    .hidden {
        display: none;
    }

    .rating-star {
        cursor: pointer;
    }
</style>

<script>
    const baseUrl = `${window.location.origin}`;
    let currentTaskId = null;
    document.addEventListener('DOMContentLoaded', () => {
        fetchAndDisplayTask();
        getCompletedTasks()
    });

    async function fetchAndDisplayTask() {
        try {
            const response = await fetch(`${baseUrl}/tasks-pending`);
            if (!response.ok) {
                response_modal("Failed to fetch tasks")
                throw new Error('Failed to fetch tasks');
            }
            const data = await response.json();
            const task = data.task;
            const totalTasks = data.total_tasks;
            const completedTasks = data.completed_tasks;

            if (!task) {
                const taskContainer = document.getElementById('task-container');
                if (taskContainer) {
                    taskContainer.innerHTML = '<p class="text-warning text-bold">Congratulations! All tasks completed!</p>';
                }
                return;
            }

            displayTask(task, totalTasks, completedTasks);

        } catch (error) {
            response_modal(error)
            console.error('Error fetching task:', error);
        }
    }

    function displayTask(task, totalTasks, completedTasks) {
        const taskContainer = document.getElementById('task-container');
        if (!taskContainer) {
            console.error('Task container not found');
            response_modal('Task container not found')
            return;
        }

        currentTaskId = task.id;
        taskContainer.innerHTML = `
        <div class="d-flex align-items-center">
                    <img src="./static/img/start/${task.image}" alt="${task.title}" height="32" width="32" class="me-2 rounded">
                    <div class="d-flex flex-column">
                        <span class="fw-medium lh-1">${task.description}</span>
                    </div>
                </div>
                <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <small class="mb-0 text-warning">
                        Select rating, add comment to earn
                        <b class="badge bg-label-primary me-3" id="taskReward">$${task.earnings.toFixed(2)} of $${task.reward.toFixed(2)}</b>
                    </small>
                    <span>
                        Task <h4 class="badge bg-label-primary me-3" id="taskIndex">${completedTasks + 1} of ${totalTasks}</h4>
                    </span>
                </div>
                <div class="card-body">
                    <form id="taskForm" onsubmit="submitTask(event)">
                        <input type="hidden" id="task_id" name="task_id" value="${task.id}">
                        <input type="hidden" id="user_id" name="user_id" value="${task.user_id}">
                        <input type="hidden" id="rating" name="rating">
                        <input type="hidden" id="reward" name="reward" value="${task.reward}">
                        <div class="mb-3">
                            <label class="form-label" for="comment">Comment</label>
                            <textarea id="comment" class="form-control" placeholder="Enter your comment" spellcheck="false"></textarea>
                        </div>
                        <div id="rating-stars" class="d-flex align-items-center gap-3 mb-3">
                            <i class="bx bxs-star bx-sm text-lighter" data-rating="1"></i>
                            <i class="bx bxs-star bx-sm text-lighter" data-rating="2"></i>
                            <i class="bx bxs-star bx-sm text-lighter" data-rating="3"></i>
                            <i class="bx bxs-star bx-sm text-lighter" data-rating="4"></i>
                            <i class="bx bxs-star bx-sm text-lighter" data-rating="5"></i>
                        </div>
                        <button type="submit" class="btn btn-outline-warning">Upload</button>
                    </form>
                </div>
            </div>
            </div>
        `;

        document.querySelectorAll('#rating-stars .bxs-star').forEach(star => {
            star.addEventListener('click', function() {
                const rating = this.getAttribute('data-rating');
                document.getElementById('rating').value = rating;
                updateStarRating(rating);
            });
        });
    }

    function updateStarRating(rating) {
        document.querySelectorAll('#rating-stars .bxs-star').forEach(star => {
            if (star.getAttribute('data-rating') <= rating) {
                star.classList.add('text-warning');
                star.classList.remove('text-lighter');
            } else {
                star.classList.add('text-lighter');
                star.classList.remove('text-warning');
            }
        });
    }

    async function submitTask(event) {
        event.preventDefault();
        const taskId = document.getElementById('task_id').value;
        const comment = document.getElementById('comment').value;
        const rating = document.getElementById('rating').value;

        const orderData = {
            user_id: null, // Assuming a static user ID for this example
            task_id: parseInt(taskId),
            rating: parseInt(rating),
            comment: comment
        };

        try {
            const response = await fetch(`${baseUrl}/orders`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(orderData)
            });

            if (!response.ok) {
                const errorMessage = await response.text();
                response_modal(errorMessage)
                throw new Error(`Failed to create order: ${errorMessage}`);
            }

            const data = await response.json();
            response_modal(data.success ? data.message : data.error);
            if (!data.success) console.error('Error:', data.error);
            console.log(data);


            // After successful submission, fetch and display the next task
            fetchAndDisplayTask();
        } catch (error) {
            console.error('There was a problem with the fetch operation:', error);
            // alert('Failed to create order. Please try again.');
            response_modal(error.error)
        }
    }


    async function getCompletedTasks() {
            try {
                const response = await fetch(`${baseUrl}/tasks-completed`);
                const completedTasks = await response.json();

                completedTasks.error ? response_modal(completedTasks.error) : '';
                if (!completedTasks.success) return console.error('Error:', data.error);
                // console.log(completedTasks);

                const tbody = document.getElementById('completed-tasks');
                tbody.innerHTML = '';

                completedTasks.tasks.forEach((task, index) => {
                    const row = `
                        <tr>
                            <td>${index + 1}</td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="./static/img/start/${task.image}" alt="${task.title}" height="32" width="32" class="me-2 rounded">
                                    <div class="d-flex flex-column">
                                        <span class="fw-medium lh-1">${task.title}</span>
                                    </div>
                                </div>
                            </td>
                            <td><small class="text-muted">${task.rating}/5.0</small></td>
                            <td><small class="text-muted">${task.amount}</small></td>
                            <td><span class="badge bg-label-warning">${task.earnings}</span></td>
                            <td>Completed</td>
                            <td>${task.created}</td>
                        </tr>
                    `;
                    tbody.insertAdjacentHTML('beforeend', row);
                });
            } catch (error) {
                response_modal(error)
                console.error('Error fetching completed tasks:', error);
            }
        }
        
</script>

<script>
    "use strict";

    (async function () {
        try {
            // Fetch the data from the endpoint
            const response = await fetch('/analyze_data');
            const data = await response.json();

            if (data.error) {
                console.error('Error fetching data:', data.error);
                return;
            }
            // Update the totals in the HTML
            $('#totalEarnings').text(`$${data.earnings.total.toFixed(2)}`);

            // Update the total deposits
            $('.totalDeposits').text(`$${data.deposits.total.toFixed(2)}`);


            console.log(data)
            // Extract the required values from the response
            const depositsData = [
                data.deposits.mean, 
                data.deposits.median, 
                data.deposits.std_dev, 
                data.deposits.total
            ];
            const earningsData = [
                data.earnings.mean, 
                data.earnings.median, 
                data.earnings.std_dev, 
                data.earnings.total
            ];
            const categories = ["Mean", "Median", "Std Dev", "Total"];

            // Dark mode configuration (simplified)
            const isDarkStyle = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
            const colors = isDarkStyle ? ["#4f51c0", "#e1e2ff"] : ["#696cff", "#a5a7ff"];

            // Chart configuration
            const options = {
                series: [{
                    name: "Deposits",
                    data: depositsData
                }, {
                    name: "Earnings",
                    data: earningsData
                }],
                chart: { 
                    height: 350, 
                    type: "line", 
                    dropShadow: { 
                        enabled: true, 
                        top: 10, 
                        left: 5, 
                        blur: 3, 
                        color: "#4f51c0", 
                        opacity: .15 
                    }, 
                    toolbar: { show: false } 
                }, 
                dataLabels: { enabled: true }, 
                stroke: { width: 2, curve: "smooth" }, 
                legend: { show: true }, 
                colors: colors, 
                markers: { 
                    size: 6, 
                    colors: "transparent", 
                    strokeColors: "transparent", 
                    strokeWidth: 4, 
                    hover: { size: 7 } 
                }, 
                grid: { 
                    show: true, 
                    padding: { top: -10, left: 0, right: 0, bottom: 10 } 
                },
                xaxis: {
                    categories: categories, 
                    axisBorder: { show: true }, 
                    axisTicks: { show: true },
                    labels: { show: true, style: { fontSize: "13px", colors: "#ccc" } }
                }, 
                yaxis: { labels: { show: true } }
            };

            // Rendering the chart if the element exists
            // Selecting the chart elements
            const elements = $('#totalBalanceChart, .totalBalanceChart');

            if (elements.length > 0) {
                elements.each(function() {
                    new ApexCharts($(this)[0], options).render();
                });
            }

            /*
            // const d = document.querySelectorAll("#totalBalanceChart", ".totalBalanceChart");
            const d =  $('#totalBalanceChart, .totalBalanceChart');

            if (d !== null) {
                new ApexCharts(d, options).render();
            } */

        } catch (error) {
            console.error('Error:', error);
        }
    })();
</script>

<script>
    $(document).ready(function () {
        // Function to fetch user data and populate the form
        function fetchUserData() {
            let url = './{{current_user.username}}/get_user_x'; // Update with your endpoint
            
            $.ajax({
                type: 'GET',
                url: url,
                success: function (response) {
                    if (response.success) {
                        let data = response.user;

                        // Bind data to form fields
                        for (let key in data) {
                            if (data.hasOwnProperty(key)) {
                                let input = $(`[name="${key}"]`);
                                
                                if (input.length) {
                                    if (input.attr('type') !== 'file') {
                                        input.val(data[key]);
                                    }
                                }
                            }
                        }

                        // Bind account details to form fields
                        if (data.account_details && data.account_details.length > 0) {
                            let accountDetails = data.account_details[0]; // Assuming one set of account details

                            for (let key in accountDetails) {
                                if (accountDetails.hasOwnProperty(key)) {
                                    let input = $(`[name="${key}"]`);
                                    
                                    if (input.length) {
                                        if (input.attr('type') !== 'file') {
                                            input.val(accountDetails[key]);
                                        }
                                    }
                                }
                            }
                        }

                        // Handle special cases (e.g., image path)
                        if (data.image) {
                            $('#uploadedAvatar').attr('src', './static/img/avatars/' + data.image);
                            $('.uploadedAvatar').attr('src', './static/img/avatars/' + data.image);
                        }

                        response_modal(response.success ? response.message : response.error);

                    } else {
                        if (!response.success) console.error('Error:', response.error);

                    }
                },
                error: function (xhr, status, error) {
                    response_modal(error);
                    console.error('Error fetching user data:', xhr.responseText);
                }
            });
        }

        // Call fetchUserData when document is ready
        fetchUserData();
    });
</script>

{% endblock page_js %}