{% extends 'base.html' %}
<title> {% block title %}Users . Dunistech Academy {% endblock title %}</title>
{% block content %}
<div class="wrapper">
    {% include 'incs/sidenav.html' %}
    {% include 'incs/topnav.html' %}

    <div class="content-page">
        <div class="container-fluid">

         <div class="row">
            <div class="col-sm-12">
                <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title">
                        <h4 class="card-title">User groups . Dunis Workforce</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p> <code>(staffs . instructors . clients . student )</code></p>
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" id="pills-general-tab" data-toggle="pill" 
                            href="#pills-general" role="tab" aria-controls="pills-general" 
                            aria-selected="false">General</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-staff-tab" data-toggle="pill" 
                            href="#pills-staff" role="tab" aria-controls="pills-staff" 
                            aria-selected="true">Staffs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-student-tab" data-toggle="pill" 
                            href="#pills-student" role="tab" aria-controls="pills-student" 
                            aria-selected="false">Student</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent-2">
                        <div class="tab-pane fade" id="pills-general" role="tabpanel" 
                        aria-labelledby="pills-general-tab">
                        
                        <table id="user-list-table" class="table table-striped dataTable mt-4"
                        role="grid" aria-describedby="user-list-page-info">
                          <thead>
                             <tr class="ligth">
                                <th>Profile</th>
                                <th>Name</th>
                                <th>Contact</th>
                                <th>Email</th>
                                <th style="min-width: 100px">Action</th>
                             </tr>
                          </thead>
                          <tbody>
                             {% for u in users %}
                             <tr>
                                <td class="text-center">
                                 <img class="rounded img-fluid avatar-40" 
                                 {# src="{{url_for('static', filename='images/user/01.jpg')}}" #}
                                 src="{{url_for('static', filename='images/user/'~ u.photo|string or '1.png' )}}"
                                 alt="{{u.name or u.username}}">
                              </td>
                                <td>{{u.name or u.username}}</td>
                                <td>{{u.phone or "not provided"}}</td>
                                <td>{{u.email or "not provided"}}</td>
                                <td>
                                   <div class="flex align-items-center list-user-action">
                                      <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="{{url_for('auth.update', username=u.username)}}"><i class="ri-pencil-line mr-0"></i></a>
                                      
                                      <button type="button" onclick="remove(this, '{{u.username}}')"
                                      class="badge bg-warning mr-2 border-0" data-toggle="tooltip"
                                      data-placement="top" title="" data-original-title="Delete"><i
                                          class="ri-delete-bin-line mr-0"></i></button>
                                     </div>
                                </td>
                             </tr>
                             {% endfor %}
                          </tbody>
                       </table>
                        </div>
                        <div class="tab-pane fade active show" id="pills-staff" role="tabpanel" aria-labelledby="pills-staff-tab">
                           
                           <table id="user-list-table" class="table table-striped dataTable mt-4"
                           role="grid" aria-describedby="user-list-page-info">
                             <thead>
                                <tr class="ligth">
                                   <th>Profile</th>
                                   <th>Name</th>
                                   <th>Contact</th>
                                   <th>Email</th>
                                   <th style="min-width: 100px">Action</th>
                                </tr>
                             </thead>
                             <tbody>
                              {% for u in users %}
                              {% for role in u.role %}
                              {% if (role.name == "staff") | string %}
                                      <tr>
                                          <td class="text-center">
                                              <img class="rounded img-fluid avatar-40"
                                                  {# src="{{url_for('static', filename='images/user/01.jpg')}}" #}
                                                  src="{{ url_for('static', filename='images/user/' ~ (u.photo or '1.png') | string) }}"
                                                  alt="{{ u.name or u.username }}">
                                          </td>
                                          <td>{{ u.name or u.username }}</td>
                                          <td>{{ u.phone or "not provided" }}</td>
                                          <td>{{ u.email or "not provided" }}</td>
                                          <td>
                                              <div class="flex align-items-center list-user-action">
                                                  <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="{{ url_for('auth.update', username=u.username) }}"><i class="ri-pencil-line mr-0"></i></a>
                                                  
                                                  <button type="button" onclick="remove(this, '{{ u.username }}')" class="badge bg-warning mr-2 border-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="ri-delete-bin-line mr-0"></i></button>
                                              </div>
                                          </td>
                                      </tr>
                                  {% endif %}
                              {% endfor %}
                              {% endfor %}
                          </tbody>
                          </table>
                        </div>
                        <div class="tab-pane fade" id="pills-student" role="tabpanel" aria-labelledby="pills-student-tab">
                           <table id="user-list-table" class="table table-striped dataTable mt-4" role="grid" aria-describedby="user-list-page-info">
                              <thead>
                                  <tr class="ligth">
                                      <th>Profile</th>
                                      <th>Name</th>
                                      <th>Contact</th>
                                      <th>Email</th>
                                      <th style="min-width: 100px">Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for u in users %}
                                  {% for role in u.role %}
                                  {% if (role.name == "student") | string %}
                                          <tr>
                                              <td class="text-center">
                                                  <img class="rounded img-fluid avatar-40"
                                                      {# src="{{url_for('static', filename='images/user/01.jpg')}}" #}
                                                      src="{{ url_for('static', filename='images/user/' ~ (u.photo or '1.png') | string) }}"
                                                      alt="{{ u.name or u.username }}">
                                              </td>
                                              <td>{{ u.name or u.username }}</td>
                                              <td>{{ u.phone or "not provided" }}</td>
                                              <td>{{ u.email or "not provided" }}</td>
                                              <td>
                                                  <div class="flex align-items-center list-user-action">
                                                      <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="{{ url_for('auth.update', username=u.username) }}"><i class="ri-pencil-line mr-0"></i></a>
                                                      
                                                      <button type="button" onclick="remove(this, '{{ u.username }}')" class="badge bg-warning mr-2 border-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="ri-delete-bin-line mr-0"></i></button>
                                                  </div>
                                              </td>
                                          </tr>
                                      {% endif %}
                                  {% endfor %}
                                  {% endfor %}
                              </tbody>
                          </table>
                          
                          
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

           <div class="row">
              <div class="col-sm-12">
                 <div class="card">
                    <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                          <h4 class="card-title">{{pname}}</h4>
                       </div>
                    </div>
                    <div class="card-body">
                       <div class="table-responsive">
                          <div class="row justify-content-between">
                             
                           <div class="col-sm-6 col-md-5">
                                <div id="user_list_datatable_info" class="dataTables_filter">
                                   <form class="mr-3 position-relative">
                                      <div class="form-group mb-0">
                                         <input type="search" class="form-control" id="exampleInputSearch" placeholder="Search" aria-controls="user-list-table">
                                      </div>
                                   </form>
                                </div>
                             </div>

                             <div id="response" class="alert col-md-4"></div>

                          </div>
                          <table id="user-list-table" class="table table-striped dataTable mt-4"
                           role="grid" aria-describedby="user-list-page-info">
                             <thead>
                                <tr class="ligth">
                                   <th>Profile</th>
                                   <th>Name</th>
                                   <th>Contact</th>
                                   <th>Email</th>
                                   <th>City</th>
                                   <th>Timestamp</th>
                                   <th style="min-width: 100px">Action</th>
                                </tr>
                                
                             </thead>
                             <tbody>
                             {# {% include 'incs/alerts.html' %} #}
                                {% for u in users %}
                                
                                <tr>
                                   <td class="text-center">
                                    <img class="rounded img-fluid avatar-40" 
                                    {# src="{{url_for('static', filename='images/user/01.jpg')}}" #}
                                    src="{{url_for('static', filename='images/user/'~ u.photo|string or '1.png' )}}"
                                    alt="{{u.name or u.username}}">
                                 </td>
                                   <td>{{u.name or u.username}}</td>
                                   <td>{{u.phone or "not provided"}}</td>
                                   <td>{{u.email or "not provided"}}</td>
                                   <td>{{u.city or "not provided"}}</td>
                                   {#<td>{{moment(u.created).fromNow()}}</td>#}
                                   <td>{{ u.created }}</td>
                                   <td>
                                      <div class="flex align-items-center list-user-action">
                                         <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="{{url_for('auth.update', username=u.username)}}"><i class="ri-pencil-line mr-0"></i></a>
                                         
                                         <button type="button" onclick="remove(this, '{{u.username}}')"
                                         class="badge bg-warning mr-2 border-0" data-toggle="tooltip"
                                         data-placement="top" title="" data-original-title="Delete"><i
                                             class="ri-delete-bin-line mr-0"></i></button>
                                        </div>
                                   </td>
                                </tr>
                                {% endfor %}
                             </tbody>
                          </table>
                       </div>

                       <div class="row justify-content-between mt-3">
                          <div id="user-list-page-info" class="col-md-6">
                             <span>Showing 1 to 5 of 5 entries</span>
                          </div>
                          <div class="col-md-6">
                             <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end mb-0">
                                   <li class="page-item disabled">
                                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                   </li>
                                   <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                   <li class="page-item"><a class="page-link" href="#">2</a></li>
                                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                                   <li class="page-item">
                                      <a class="page-link" href="#">Next</a>
                                   </li>
                                </ul>
                             </nav>

                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
              </div>
    <!-- Modal Edit -->
    {% include 'incs/modal.html' %}
</div>

{% endblock content %}

{% block page_js %}
<script src="{{url_for('static', filename='js/html2pdf.bundle.min.js')}}"></script>

<script>
    $(document).ready(() => {

        remove = (del_btn, username) => {

         //alert('del clicked')
            _confirm = confirm('This User Will Be Deleted/Removed, Are You U Really Wanna Do This ?')

            if (!_confirm) { return } //true/false

            $('#response').html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i> deleting');

            //del_btn = $('#del').html()
            del_btnhtml = $(del_btn).html()

            let url = "{{request.base_url}}"
            url += "?username=" + username + "&action=del"

            // Create an AJAX request
            var jqxhr = $.ajax({
                url: url,
                type: "GET", // Assuming this is a DELETE request, adjust as needed
                headers: {
                    "X-CSRFToken": window.csrfToken, // Include the CSRF token in the headers
                },
            });

            jqxhr.done((r) => {

                $(del_btn).closest('tr').remove()
                $(del_btn).html(del_btnhtml); //reset spinning submit-btn
                if ('undefined' != typeof (r.response)) {
                    $('#response').html((r.response)).addClass(r.flash);
                } else ($('#response').text(r).addClass('alert-success'))
                if ("undefined" != typeof r.link) {
                    $('#response').append(' -> <br> <a href=' + window.location.href + '> Continue Here </a>');
                }
            });

            jqxhr.fail((er) => {
                $('#response').text('Deletion failed for this user', er).addClass('alert-danger')
                $(del_btn).html(del_btnhtml);
            });

            jqxhr.always(() => {
                //alert("ajax complete");
                $(del_btn).html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
            });


        }

    });
    
</script>

{% endblock page_js %}