{% extends 'base.html' %}
<title> {% block title %}People . Dunistech Academy Kitchen {% endblock title %}</title>
{% block content %}
<div class="wrapper">
    {% include 'incs/sidenav.html' %}
    {% include 'incs/topnav.html' %}

    <div class="content-page">
        <div class="container-fluid">
           <div class="row">
              <div class="col-sm-12">
                 <div class="card">
                    <div class="card-header d-flex justify-content-between">
                       <div class="header-title">
                          <h4 class="card-title">{{pname}}</h4>
                       </div>
                    </div>
                    <div class="card-body">
                       <div class="table-responsive">
                          <div class="row justify-content-between">
                             
                           <div class="col-sm-6 col-md-5">
                                <div id="user_list_datatable_info" class="dataTables_filter">
                                   <form class="mr-3 position-relative">
                                      <div class="form-group mb-0">
                                         <input type="search" class="form-control" id="exampleInputSearch" placeholder="Search" aria-controls="user-list-table">
                                      </div>
                                   </form>
                                </div>
                             </div>
                             <div id="response" class="alert col-md-4"></div>

                          </div>
                          <table id="user-list-table" class="table table-striped dataTable mt-4" role="grid" aria-describedby="user-list-page-info">
                             <thead>
                                <tr class="ligth">
                                   <th>Profile</th>
                                   <th>Name</th>
                                   <th>Contact</th>
                                   <th>Email</th>
                                   <th>City</th>
                                   <th>Status</th>
                                   <th>Category</th>
                                   <th>Company</th>
                                   <th>Join Date</th>
                                   <th style="min-width: 100px">Action</th>
                                </tr>
                                
                             </thead>
                             <tbody>
                              {% include 'incs/alerts.html' %}
                                {% for u in users %}
                                
                                <tr>
                                   <td class="text-center"><img class="rounded img-fluid avatar-40" src="{{url_for('static', filename='images/user/01.jpg')}}" alt="profile"></td>
                                   <td>{{u.name or u.username}}</td>
                                   <td>{{u.phone or "No Phone Added"}}</td>
                                   <td>{{u.email or "No Email(s)"}}</td>
                                   <td>{{u.city or "Address Unavailable"}}</td>
                                   <td><span class="badge bg-primary">Active</span></td>
                                   <td>{{u.dept or u.cate or '0'}}</td>
                                   <td>{{g.brand.name}}</td>
                                   {#<td>{{moment(u.created).fromNow()}}</td>#}
                                   <td>{{ u.created }}</td>
                                   <td>
                                      <div class="flex align-items-center list-user-action">
                                         <a class="btn btn-sm bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" href="{{url_for('auth.update', username=u.username)}}"><i class="ri-pencil-line mr-0"></i></a>
                                         
                                         <button type="button" onclick="remove(this, '{{u.username}}')"
                                         class="badge bg-warning mr-2 border-0" data-toggle="tooltip"
                                         data-placement="top" title="" data-original-title="Delete"><i
                                             class="ri-delete-bin-line mr-0"></i></button>
                                        </div>
                                   </td>
                                </tr>
                                {% endfor %}
                             </tbody>
                          </table>
                       </div>

                       <div class="row justify-content-between mt-3">
                          <div id="user-list-page-info" class="col-md-6">
                             <span>Showing 1 to 5 of 5 entries</span>
                          </div>
                          <div class="col-md-6">
                             <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end mb-0">
                                   <li class="page-item disabled">
                                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                   </li>
                                   <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                   <li class="page-item"><a class="page-link" href="#">2</a></li>
                                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                                   <li class="page-item">
                                      <a class="page-link" href="#">Next</a>
                                   </li>
                                </ul>
                             </nav>

                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
              </div>
    <!-- Modal Edit -->
    {% include 'incs/modal.html' %}
</div>
</div>

{% endblock content %}

{% block page_js %}
<script src="{{url_for('static', filename='js/html2pdf.bundle.min.js')}}"></script>

<script>
    $(document).ready(() => {


        remove = (del_btn, username) => {

         //alert('del clicked')
            _confirm = confirm('This User Will Be Deleted/Removed, Are You U Really Wanna Do This ?')

            if (!_confirm) { return } //true/false

            $('#response').html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i> deleting');

            //del_btn = $('#del').html()
            del_btnhtml = $(del_btn).html()

            let url = "{{request.base_url}}"
            url += "?username=" + username + "&action=del"

            //var jqxhr = $.get(url);
            // Create an AJAX request
            var jqxhr = $.ajax({
                url: url, 
                type: "GET", // Assuming this is a DELETE request, adjust as needed
                headers: {
                    "X-CSRFToken": window.csrfToken, // Include the CSRF token in the headers
                },
            });

            jqxhr.done((r) => {

                $(del_btn).closest('tr').remove()
                //console.log($(del_btn).closest("tr").html())
                $(del_btn).html(del_btnhtml); //reset spinning submit-btn
                if ('undefined' != typeof (r.response)) {
                    $('#response').html((r.response)).addClass(r.flash);
                } else ($('#response').text(r).addClass('alert-success'))
                if ("undefined" != typeof r.link) {
                    $('#response').append(' -> <br> <a href=' + window.location.href + '> Continue Here </a>');
                }
                if ("undefined" != typeof r.receipt) {
                    $('#response').append('<br> <a href= ' + r.receipt + '> Receipt Here</a>');
                }
                //console.log('response->(' + r.response + 'flash-message (' + r.flash); 
            });

            jqxhr.fail((er) => {
                $('#response').text('oops!!!, Could Not Remove This Food, Request failed. Pls Try Again', er).addClass('alert-danger')
                $(del_btn).html(del_btnhtml);
            });

            jqxhr.always(() => {
                //alert("ajax complete");
                $(del_btn).html('<i class="fa fa-circle-notch fa-spin fa-1x fa-fw"></i>');
            });


        }

    });

</script>

{% endblock page_js %}